<% include partials/head %>
<div class="col-xs-12" style="height:50px;"></div>
<h1 class="text-center">问卷调查</h1>
<div>
    <p class="text-faded text-center mb-8" style="font-family: AvenirNext-Bold;font-size: 30px; ">在线设计问卷，让您的工作事半功倍</p>
    <div class="container" style="margin-top: 50px;margin-bottom: 40px;">
        <div class="col-12" style="margin: auto">
            <form id="form" action="/additem/add" method="post">
                <div class="shadow-none p-3 mb-5 bg-light rounded">
                    <div class="form-group">
                        <label for="formname">问卷名称</label>
                        <input type="text" class="form-control" name="formname" placeholder="问卷名称">
                    </div>
                    <div class="form-group">
                        <label for="formabstract">问卷简介</label>
                        <input type="text" class="form-control" name="formabstract" placeholder="问卷简介">
                    </div>
                    <div class="form-group">
                        <label for="formtime">创建问卷后可填写的天数(days)</label>
                        <input type="number" class="form-control" name="endtime" min="1" placeholder="7">
                    </div>
                    <div class="form-group">
                        <label for="formaccesstype">填写方式</label>
                        <select class="custom-select" multiple name="formaccesstype">
                            <option value="0" selected>请选择</option>
                            <option value="1">仅限注册用户</option>
                            <option value="2">无需注册，可填写 n 次</option>
                            <option value="3">无需注册，每天可填写 n 次</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="formaccessnum">填写次数</label>
                        <input type="text" class="form-control" name="formaccessnum" placeholder="10">
                    </div>
                </div>
                <div class="form-group shadow-none p-3 mb-5 bg-light rounded" id="questionTemplate" style="display: none;" qcas="0">
                    <label name="qid">问题0</label>
                    <div class="form-group">
                        <label for="qabstract">题目描述</label>
                        <input type="text" class="form-control" id="qabstract">
                    </div>
                    <div class="form-group">
                        <label for="qtype">题目类型</label>
                        <select class="form-control" id="qtype">
                            <option value="0" selected>请选择</option>
                            <option value="1">单选/2个选项</option>
                            <option value="2">单选/3个选项</option>
                            <option value="3">单选/4个选项</option>
                            <option value="4">多选/2个选项</option>
                            <option value="5">多选/3个选项</option>
                            <option value="6">多选/4个选项</option>
                            <option value="7">文本填写</option>
                            <option value="8">数字填写</option>
                            <option value="9">评分</option>
                        </select>
                    </div>
                    <div class="form-group" style="display: none;">
                        <label>选项1</label>
                        <input type="text" class="form-control" id="op1">
                    </div>
                    <div class="form-group" style="display: none;">
                        <label>选项2</label>
                        <input type="text" class="form-control" id="op2">
                    </div>
                    <div class="form-group" style="display: none;">
                        <label>选项3</label>
                        <input type="text" class="form-control" id="op3">
                    </div>
                    <div class="form-group" style="display: none;">
                        <label>选项4</label>
                        <input type="text" class="form-control" id="op4">
                    </div>
                    <div class="form-group">
                        <label for="qcas">是否级联</label>
                        <select class="form-control" id="qcas">
                            <option value="0" selected>请选择</option>
                            <option value="1">否</option>
                            <option value="2">是</option>
                        </select>
                    </div>
                    <div class="form-group" style="display: none;">
                        <label for="qcasnum">级联的上级题号</label>
                        <select class="form-control" id="qcasnum">
                            <option value="0" selected>请选择</option>
                        </select>
                    </div>
                    <div class="form-group" style="display: none;">
                        <label for="qcasop">级联的对应选项</label>
                        <select class="form-control" id="qcasop">
                            <option value="0" selected>请选择</option>
                            <option value="1" disabled>选项1</option>
                            <option value="2" disabled>选项2</option>
                            <option value="3" disabled>选项3</option>
                            <option value="4" disabled>选项4</option>
                        </select>
                    </div>
                    <a class="btn btn-warning" name="remove" style="margin-top: 15px">删除该问题</a>
                </div>
                <div style="text-align:center">
                    <a class="btn btn-primary" id="addquestion" style="margin-top: 15px">添加新的题目</a>
                    <a class="btn btn-success" id="sub" style="margin-top: 15px"
                        onclick="return newQuestionaire()">提交问卷</a>
                </div>
            </form>
        </div>
    </div>
</div>


<script>
    var index = 0;
    $(function () {
        index++;
        var $template = $("#questionTemplate"),
            $clone = $template
                .clone()
                .show()
                .attr('id', 'q' + index)
                .attr('value', index)
                .insertBefore($template);
        $clone.find('[name="qid"]')
            .text("问题" + index)
            .end();
        $clone.find('[id="qabstract"]')
            .removeAttr('id')
            .attr('name', 'qabstract')
            .end();
        $clone.find('[id="qtype"]')
            .removeAttr('id')
            .attr('name', 'qtype')
            .end();
        $clone.find('[id="qcas"]')
            .removeAttr('id')
            .attr('name', 'qcas')
            .end();
        $clone.find('[id="qcasnum"]')
            .removeAttr('id')
            .attr('name', 'qcasnum')
            .end();
        $clone.find('[id="qcasop"]')
            .removeAttr('id')
            .attr('name', 'qcasop')
            .end();
        $clone.find('[id="op1"]')
            .removeAttr('id')
            .attr('name', 'op1')
            .end();
        $clone.find('[id="op2"]')
            .removeAttr('id')
            .attr('name', 'op2')
            .end();
        $clone.find('[id="op3"]')
            .removeAttr('id')
            .attr('name', 'op3')
            .end();
        $clone.find('[id="op4"]')
            .removeAttr('id')
            .attr('name', 'op4')
            .end();
    });
    $(document).on("change", "select[name='qcas']", function () {
        var val = $(this).val();
        var $num = $(this).parent().next();
        var $op = $num.next();
        var me = $(this).parent().parent().attr("value");
        if (val == 2) {
            $num.show();
            $op.show();
            $num.find("option[value!='0']").each(function(i, n) {
                var obj = $(n);
                obj.remove();
            });
            var $cas0 = $num.find("option[value='0']");
            $("[qcas]").each(function(){
                var val = $(this).attr("qcas");
                if(val != 0 && $(this).attr("value") < me) {
                    var id = $(this).attr("value");
                    var $clone = $cas0.clone()
                        .attr("value", id)
                        .text("问题" + id)
                        .insertAfter($cas0);
                    $cas0 = $clone;
                }
            });
            $num.children("select").val("0");
        }
        else {
            $num.hide().children("select").val("0");
            $num.find("option[value!='0']").each(function(i, n) {
                var obj = $(n);
                obj.remove();
            });
            $op.hide().children("select").val("0");
            $op.find("option[value='1']").attr("disabled",true);
            $op.find("option[value='2']").attr("disabled",true);
            $op.find("option[value='3']").attr("disabled",true);
            $op.find("option[value='4']").attr("disabled",true);
        }
    });
    $(document).on("change", "select[name='qcasnum']", function () {
        var val = $(this).val();
        var $op = $(this).parent().next();
        var qtype = $("#q" + val).attr("qcas");
        if(qtype == 1) {
            $op.find("option[value='1']").attr("disabled",false);
            $op.find("option[value='2']").attr("disabled",false);
            $op.find("option[value='3']").attr("disabled",true);
            $op.find("option[value='4']").attr("disabled",true);
        }
        else if(qtype == 2) {
            $op.find("option[value='1']").attr("disabled",false);
            $op.find("option[value='2']").attr("disabled",false);
            $op.find("option[value='3']").attr("disabled",false);
            $op.find("option[value='4']").attr("disabled",true);
        }
        else if(qtype == 3) {
            $op.find("option[value='1']").attr("disabled",false);
            $op.find("option[value='2']").attr("disabled",false);
            $op.find("option[value='3']").attr("disabled",false);
            $op.find("option[value='4']").attr("disabled",false);
        }
        else {
            $op.find("option[value='1']").attr("disabled",true);
            $op.find("option[value='2']").attr("disabled",true);
            $op.find("option[value='3']").attr("disabled",true);
            $op.find("option[value='4']").attr("disabled",true);
        }
    });
    $(document).on("change", "select[name='qtype']", function () {
        var op = $(this).val();
        var $question =$(this).parent().parent();
        if(op == 1 || op == 2 || op == 3)
            $question.attr("qcas", op);
        else
            $question.attr("qcas", "0");
        var $op1 = $(this).parent().next();
        var $op2 = $op1.next();
        var $op3 = $op2.next();
        var $op4 = $op3.next();
        if (op == 1 || op == 4) {
            $op1.show();
            $op2.show();
            $op3.hide().children("input").val("");
            $op4.hide().children("input").val("");
        }
        else if (op == 2 || op == 5) {
            $op1.show();
            $op2.show();
            $op3.show();
            $op4.hide().children("input").val("");
        }
        else if (op == 3 || op == 6) {
            $op1.show();
            $op2.show();
            $op3.show();
            $op4.show();
        }
        else {
            $op1.hide().children("input").val("");
            $op2.hide().children("input").val("");
            $op3.hide().children("input").val("");
            $op4.hide().children("input").val("");
        }
    });
    $(document).on("click", "a.btn-warning", function () {
        var target = $(this).parent();
        var isOnly = target.attr("id") == "q1" && index == 1;
        if (isOnly)
            alert("问卷中至少需要一个问题");
        else {
            var nextq = target.next();
            var id = Number(target.attr("value"));
            target.remove();
            index--;
            while (nextq.attr("id") != "questionTemplate") {
                nextq.attr("id", "q" + id);
                nextq.attr("value", id);
                nextq.find("label[name='qid']").text("问题" + id);
                id++;
                nextq = nextq.next();
            }
            $("select[name='qcas']").each(function(){
                $(this).val("0");
            });
        }
    });
    $(document).ready(function () {
        $("#addquestion").click(function () {
            index++;
            var $template = $("#questionTemplate"),
                $clone = $template
                    .clone()
                    .show()
                    .attr('id', 'q' + index)
                    .attr('value', index)
                    .insertBefore($template);
            $clone.find('[name="qid"]')
                .text("问题" + index)
                .end();
            $clone.find('[id="qabstract"]')
                .removeAttr('id')
                .attr('name', 'qabstract')
                .end();
            $clone.find('[id="qtype"]')
                .removeAttr('id')
                .attr('name', 'qtype')
                .end();
            $clone.find('[id="qcas"]')
                .removeAttr('id')
                .attr('name', 'qcas')
                .end();
            $clone.find('[id="qcasnum"]')
                .removeAttr('id')
                .attr('name', 'qcasnum')
                .end();
            $clone.find('[id="qcasop"]')
                .removeAttr('id')
                .attr('name', 'qcasop')
                .end();
            $clone.find('[id="op1"]')
                .removeAttr('id')
                .attr('name', 'op1')
                .end();
            $clone.find('[id="op2"]')
                .removeAttr('id')
                .attr('name', 'op2')
                .end();
            $clone.find('[id="op3"]')
                .removeAttr('id')
                .attr('name', 'op3')
                .end();
            $clone.find('[id="op4"]')
                .removeAttr('id')
                .attr('name', 'op4')
                .end();
        });
    });
    function newQuestionaire() {
        var isVaild = ($("input[name]:visible").filter(function () {
            return $.trim($(this).val()).length == 0
        }).length == 0 &&
            $("select[name]:visible").filter(function () {
                return $.trim($(this).val()) == "0"
            }).length == 0);
        if (isVaild) {
            $("#form").submit();
            alert("新建成功!");
            return true;
        } else {
            alert("请填写完整");
            return false;
        }
    }
</script>
<% include partials/foot %>