<% include partials/head %>
<div class="col-12" style="top: 15px; ">
    <div class="jumbotron">
    <h1 class="display-3">Downloads</h1>
    <div></div>
    <div><a class="btn btn-secondary" href="/mock.json" download="/mock.json" style="margin-top: 15px">下载客户端</a> </div>
    </div>
</div>
<% include partials/foot %>