<% include partials/head %>
<div class="col-xs-12" style="height:50px;"></div>
<h1 class="text-center"><%= title %></h1>
<div>
    <p class="text-faded text-center mb-8" style="font-family: AvenirNext-Bold;font-size: 30px; "></p>
    <div class="container" style="margin-top: 50px;margin-bottom: 40px;">
        <div class="col-12" style="margin: auto">
            <form id="form" action="/fillitem/sub" method="post">
                <div class="form-group shadow p-3 mb-5 bg-white rounded" id="radioTemplate" style="display: none;">
                    <label name="qname">单选题</label>
                    <div class="icheck-silver" style="display: none;">
                        <input type="radio" id="RadioId0" value="0"/>
                        <label for="RadioId0">Option 0</label>
                    </div>
                    <div class="icheck-turquoise">
                        <input type="radio" id="RadioId1" value="1" />
                        <label for="RadioId1">Option 1</label>
                    </div>
                    <div class="icheck-emerland">
                        <input type="radio" id="RadioId2" value="2" />
                        <label for="RadioId2">Option 2</label>
                    </div>
                    <div class="icheck-peterriver">
                        <input type="radio" id="RadioId3" value="3" />
                        <label for="RadioId3">Option 3</label>
                    </div>
                    <div class="icheck-amethyst">
                        <input type="radio" id="RadioId4" value="4" />
                        <label for="RadioId4">Option 4</label>
                    </div>
                </div>
                <div class="form-group shadow p-3 mb-5 bg-white rounded" id="checkboxTemplate" style="display: none;">
                    <label name="qname">多选题</label>
                    <div class="icheck-silver" style="display: none;">
                        <input type="checkbox" id="CheckboxId0" value="0"/>
                        <label for="CheckboxId0">Option 0</label>
                    </div>
                    <div class="icheck-wisteria">
                        <input type="checkbox" id="CheckboxId1" value="1"/>
                        <label for="CheckboxId1">Options 1</label>
                    </div>
                    <div class="icheck-midnightblue">
                        <input type="checkbox" id="CheckboxId2" value="2"/>
                        <label for="CheckboxId2">Options 2</label>
                    </div>
                    <div class="icheck-sunflower">
                        <input type="checkbox" id="CheckboxId3" value="3"/>
                        <label for="CheckboxId3">Options 3</label>
                    </div>
                    <div class="icheck-carrot">
                        <input type="checkbox" id="CheckboxId4" value="4"/>
                        <label for="CheckboxId4">Options 4</label>
                    </div>
                </div>
                <div class="form-group shadow p-3 mb-5 bg-white rounded" id="textTemplate" style="display: none;">
                    <label name="qname">文本题</label>
                    <textarea class="form-control" rows="5"></textarea>
                </div>
                <div class="form-group shadow p-3 mb-5 bg-white rounded" id="numTemplate" style="display: none;">
                    <label name="qname">数字题</label>
                    <input type="number" class="form-control">
                </div>
                <div class="form-group shadow p-3 mb-5 bg-white rounded" id="scoreTemplate" style="display: none;">
                    <label name="qname">评分题</label>
                    <div class="icheck-silver icheck-inline" style="display: none;">
                        <input type="radio" id="SId0" value="0"/>
                        <label for="SId0">0</label>
                    </div>
                    <div class="icheck-pumpkin icheck-inline">
                        <input type="radio" id="SId1" value="1" />
                        <label for="SId1">1</label>
                    </div>
                    <div class="icheck-orange icheck-inline">
                        <input type="radio" id="SId2" value="2" />
                        <label for="SId2">2</label>
                    </div>
                    <div class="icheck-sunflower icheck-inline">
                        <input type="radio" id="SId3" value="3" />
                        <label for="SId3">3</label>
                    </div>
                    <div class="icheck-greensea icheck-inline">
                        <input type="radio" id="SId4" value="4" />
                        <label for="SId4">4</label>
                    </div>
                    <div class="icheck-peterriver icheck-inline">
                        <input type="radio" id="SId5" value="5" />
                        <label for="SId5">5</label>
                    </div>
                    <div class="icheck-midnightblue icheck-inline">
                        <input type="radio" id="SId6" value="6" />
                        <label for="SId6">6</label>
                    </div>
                    <div class="icheck-amethyst icheck-inline">
                        <input type="radio" id="SId7" value="7" />
                        <label for="SId7">7</label>
                    </div>
                </div>
                <div style="text-align:center">
                    <a class="btn btn-success" id="sub" style="margin-top: 15px"
                        onclick="return subQuestionaire()">提交问卷</a>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    var dataSet = [
        <%- data %>
    ];
    var limit = <%- limit %>;
    var limitnum = <%- limitnum %>;
    function newRadio(qid, qabstract, qop1, qop2, qop3, qop4, qcas, qcasnum, qcasop) {
        var $template = $("#radioTemplate"),
            $clone = $template
                .clone()
                .show()
                .removeAttr('id')
                .insertBefore($template);
        $clone.find("label[name='qname']").text("问题" + qid + ": " + qabstract);
        var $op0 = $clone.children(".icheck-silver");
        var $op1 = $clone.children(".icheck-turquoise");
        var $op2 = $clone.children(".icheck-emerland");
        var $op3 = $clone.children(".icheck-peterriver");
        var $op4 = $clone.children(".icheck-amethyst");
        $op0.find("input").attr("id", "q" + qid + "Id0").attr("name", "q" + qid);
        $op0.find("label").attr("for", "q" + qid + "Id0");
        $op1.find("input").attr("id", "q" + qid + "Id1").attr("name", "q" + qid);
        $op1.find("label").attr("for", "q" + qid + "Id1").text(qop1);
        $op2.find("input").attr("id", "q" + qid + "Id2").attr("name", "q" + qid);
        $op2.find("label").attr("for", "q" + qid + "Id2").text(qop2);
        $op3.find("input").attr("id", "q" + qid + "Id3").attr("name", "q" + qid);
        $op3.find("label").attr("for", "q" + qid + "Id3").text(qop3);
        $op4.find("input").attr("id", "q" + qid + "Id4").attr("name", "q" + qid);
        $op4.find("label").attr("for", "q" + qid + "Id4").text(qop4);
        if (qop1 == "") $op1.hide();
        if (qop2 == "") $op2.hide();
        if (qop3 == "") $op3.hide();
        if (qop4 == "") $op4.hide();
        if(qcas == 1) {
            $clone.hide();
            $(document).on("change", "input[name='q" + qcasnum + "']:checked", function () {
                if($(this).val() == qcasop)
                    $clone.show();
                else
                    $clone.hide();
            });
        }
    }
    function newCheckbox(qid, qabstract, qop1, qop2, qop3, qop4, qcas, qcasnum, qcasop) {
        var $end = $("#radioTemplate");
        var $template = $("#checkboxTemplate"),
            $clone = $template
                .clone()
                .show()
                .removeAttr('id')
                .insertBefore($end);
        $clone.find("label[name='qname']").text("问题" + qid + ": " + qabstract);
        var $op0 = $clone.children(".icheck-silver");
        var $op1 = $clone.children(".icheck-wisteria");
        var $op2 = $clone.children(".icheck-midnightblue");
        var $op3 = $clone.children(".icheck-sunflower");
        var $op4 = $clone.children(".icheck-carrot");
        $op0.find("input").attr("id", "q" + qid + "Id0").attr("name", "q" + qid);
        $op0.find("label").attr("for", "q" + qid + "Id0");
        $op1.find("input").attr("id", "q" + qid + "Id1").attr("name", "q" + qid);
        $op1.find("label").attr("for", "q" + qid + "Id1").text(qop1);
        $op2.find("input").attr("id", "q" + qid + "Id2").attr("name", "q" + qid);
        $op2.find("label").attr("for", "q" + qid + "Id2").text(qop2);
        $op3.find("input").attr("id", "q" + qid + "Id3").attr("name", "q" + qid);
        $op3.find("label").attr("for", "q" + qid + "Id3").text(qop3);
        $op4.find("input").attr("id", "q" + qid + "Id4").attr("name", "q" + qid);
        $op4.find("label").attr("for", "q" + qid + "Id4").text(qop4);
        if (qop1 == "") $op1.hide();
        if (qop2 == "") $op2.hide();
        if (qop3 == "") $op3.hide();
        if (qop4 == "") $op4.hide();
        if(qcas == 1) {
            $clone.hide();
            $(document).on("change", "input[name='q" + qcasnum + "']:checked", function () {
                if($(this).val() == qcasop)
                    $clone.show();
                else
                    $clone.hide();
            });
        }
    }
    function newText(qid, qabstract, qcas, qcasnum, qcasop) {
        var $end = $("#radioTemplate");
        var $template = $("#textTemplate"),
            $clone = $template
                .clone()
                .show()
                .removeAttr('id')
                .insertBefore($end);
        $clone.find("label[name='qname']").text("问题" + qid + ": " + qabstract);
        $clone.children("textarea").attr("name", "q" + qid);
        if(qcas == 1) {
            $clone.hide();
            $(document).on("change", "input[name='q" + qcasnum + "']:checked", function () {
                if($(this).val() == qcasop)
                    $clone.show();
                else
                    $clone.hide();
            });
        }
    }
    function newNum(qid, qabstract, qcas, qcasnum, qcasop) {
        var $end = $("#radioTemplate");
        var $template = $("#numTemplate"),
            $clone = $template
                .clone()
                .show()
                .removeAttr('id')
                .insertBefore($end);
        $clone.find("label[name='qname']").text("问题" + qid + ": " + qabstract);
        $clone.children("input").attr("name", "q" + qid);
        if(qcas == 1) {
            $clone.hide();
            $(document).on("change", "input[name='q" + qcasnum + "']:checked", function () {
                if($(this).val() == qcasop)
                    $clone.show();
                else
                    $clone.hide();
            });
        }
    }
    function newScore(qid, qabstract, qcas, qcasnum, qcasop) {
        var $end = $("#radioTemplate");
        var $template = $("#scoreTemplate"),
            $clone = $template
                .clone()
                .show()
                .removeAttr('id')
                .insertBefore($end);
        $clone.find("label[name='qname']").text("问题" + qid + ": " + qabstract);
        var $op0 = $clone.children(".icheck-silver");
        var $op1 = $clone.children(".icheck-pumpkin");
        var $op2 = $clone.children(".icheck-orange");
        var $op3 = $clone.children(".icheck-sunflower");
        var $op4 = $clone.children(".icheck-greensea");
        var $op5 = $clone.children(".icheck-peterriver");
        var $op6 = $clone.children(".icheck-midnightblue");
        var $op7 = $clone.children(".icheck-amethyst");
        $op0.find("input").attr("id", "q" + qid + "Id0").attr("name", "q" + qid);
        $op0.find("label").attr("for", "q" + qid + "Id0");
        $op1.find("input").attr("id", "q" + qid + "Id1").attr("name", "q" + qid);
        $op1.find("label").attr("for", "q" + qid + "Id1");
        $op2.find("input").attr("id", "q" + qid + "Id2").attr("name", "q" + qid);
        $op2.find("label").attr("for", "q" + qid + "Id2");
        $op3.find("input").attr("id", "q" + qid + "Id3").attr("name", "q" + qid);
        $op3.find("label").attr("for", "q" + qid + "Id3");
        $op4.find("input").attr("id", "q" + qid + "Id4").attr("name", "q" + qid);
        $op4.find("label").attr("for", "q" + qid + "Id4");
        $op5.find("input").attr("id", "q" + qid + "Id5").attr("name", "q" + qid);
        $op5.find("label").attr("for", "q" + qid + "Id5");
        $op6.find("input").attr("id", "q" + qid + "Id6").attr("name", "q" + qid);
        $op6.find("label").attr("for", "q" + qid + "Id6");
        $op7.find("input").attr("id", "q" + qid + "Id7").attr("name", "q" + qid);
        $op7.find("label").attr("for", "q" + qid + "Id7");
        if(qcas == 1) {
            $clone.hide();
            $(document).on("change", "input[name='q" + qcasnum + "']:checked", function () {
                if($(this).val() == qcasop)
                    $clone.show();
                else
                    $clone.hide();
            });
        }
    }
    $(function () {
        if(limit){
            $("p.text-faded").text("您的次数已用尽");
            $("a.btn-success").remove();
        }
        else {
            $("p.text-faded").text("您还可填写" + limitnum + "次");
            for (let i in dataSet) {
                switch (dataSet[i][2]) {
                    case "1":
                    case "2":
                    case "3":
                        newRadio(dataSet[i][0], dataSet[i][1], dataSet[i][3], dataSet[i][4], dataSet[i][5], dataSet[i][6], dataSet[i][7], dataSet[i][8], dataSet[i][9]);
                        break;
                    case "4":
                    case "5":
                    case "6":
                        newCheckbox(dataSet[i][0], dataSet[i][1], dataSet[i][3], dataSet[i][4], dataSet[i][5], dataSet[i][6], dataSet[i][7], dataSet[i][8], dataSet[i][9]);
                        break;
                    case "7":
                        newText(dataSet[i][0], dataSet[i][1], dataSet[i][7], dataSet[i][8], dataSet[i][9]);
                        break;
                    case "8":
                        newNum(dataSet[i][0], dataSet[i][1], dataSet[i][7], dataSet[i][8], dataSet[i][9]);
                        break;
                    case "9":
                        newScore(dataSet[i][0], dataSet[i][1], dataSet[i][7], dataSet[i][8], dataSet[i][9]);
                        break;
                    default:
                        break;
                }
            }
        }
    });
    function subQuestionaire() {
        var isVaild = ($("input[name][type='number']:visible").filter(function () {
            return $.trim($(this).val()).length == 0
        }).length == 0 &&
            $("textarea[name]:visible").filter(function () {
                return $.trim($(this).val()) == 0
            }).length == 0);
        if (!isVaild) {
            alert("请填写完整");
            return false;
        }
        var a = new Array();
        $(":radio:visible").each(function () {
            a.push($(this).attr("name"));
        });
        $(":checkbox:visible").each(function () {
            a.push($(this).attr("name"));
        });
        a.sort();
        $.unique(a);
        var flag = true;
        $.each(a, function (i, val) {
            if ($("input[name='" + val + "']:checked").val() == null ? true : false) {
                flag = false;
                return false;
            }
        });
        var b = new Array();
        $(":radio[name]:hidden").each(function () {
            b.push($(this).attr("name"));
        });
        $(":checkbox[name]:hidden").each(function () {
            b.push($(this).attr("name"));
        });
        b.sort();
        $.unique(b);
        var c = new Array();
        c = b.filter(v => !a.includes(v));
        $.each(c, function (i, val) {
            $("input[name='" + val + "']").each(function() {
                    $(this).prop("checked", false);
            });
            $("input[name='" + val + "']:first").prop('checked', true);
        });
        $("input[name][type='number']:hidden").each(function () {
            $(this).val("0");
        });
        if (flag) {
            $("#form").submit();
            alert("新建成功!");
            return true;
        } else {
            alert("请填写完整");
            return false;
        }
    }
</script>
<% include partials/foot %>