<% include partials/head %>

<div class="col-12" style="top: 15px; ">
  <div class="jumbotron">
    <h1 class="display-3 text-center" style="font-family: AvenirNext-Bold; "><strong>问卷集合</strong></h1>
    <div></div>
    <div>
      <p class="text-faded text-center mb-8" style="font-family: AvenirNext-Bold;font-size: 30px; ">在线设计问卷，让您的工作事半功倍</p>
      <div style="text-align:center">
        <a class="btn btn-secondary" href="/additem" style="margin-top: 15px">添加问卷</a>
      </div>
    </div>
  </div>
</div>

<div class="container" style="margin-top: 50px;margin-bottom: 40px;">
  <div class="col-12" style="margin: auto">
    <table id="stock-table" class="display" style="width:100%; ">
    </table>

  </div>
</div>
<script>
  var dataSet = [
    <%- data %>
  ];
  $(document).ready(function () {
    $('#stock-table').DataTable({
      data: dataSet.map(x => { x.push('<a href="candlestickchart?code=' + x[0] + '&title=' + x[1] + '" class="btn btn-primary">查看/编辑</a> <a href="fillitem?code=' + x[0] + '" class="btn btn-primary">填写</a>'); return x; }),
      columns: [
        { title: "问卷编号" },
        { title: "问卷名称" },
        { title: "开始时间" },
        { title: "结束时间" },
        { title: "详细信息" }
      ]
    });
  });
</script>
<% include partials/foot %>