<% include partials/head %>
    <%# <div class="col-sm-2 col-md-3 col-lg-4"></div> %>
    <div class="col-sm-8 col-md-6 col-lg-4" style="top: 15px; margin-left: auto; margin-right: auto;">
      <div class="jumbotron text-center">
        <h1><span class="fa fa-sign-in"></span>登陆</h1>
        <% if (message != null) { %>
        	<div class="alert-danger"><%= message %></div>
        <% } %>
        <div class="alert-danger" id="notification" style="display: none"></div>
        <form id="form" action="/login" method="POST">
          <div class="form-group">
            <label>邮箱</label>
            <input type="text" class="form-control" name="email">
          </div>
          <div class="form-group">
            <label>密码</label>
            <input type="password" class="form-control" name="password" />
            <p style="font-size: 12px">密码需要不少于8位</p>
          </div>

          <div class="form-group">
            <label>验证码</label>
            <input type="text" class="form-control" name="captcha"/>
            <img src="/captcha" onclick={$(event.target).attr('src','/captcha?'+Math.random())}>
          </div>
          <div>
            <div class="btn btn-primary btn-block" onclick="login()">登录</div>
          </div>
        </form>

      </div>
      <hr>
      <span class="fa fa-sign-in"> 没有账户？<a href="/signup">注册</a>一个吧</span>
    </div>
<%- include partials/foot %>
