<% include partials/head %>

  <div class="container"  style="margin-top: 50px;margin-bottom: 40px;">
    <div class="col-12" style="margin: auto">
  <!--    <div class="rol-12">-->
    <table id="stock-table" class="display" style="width:100%; ">
      </table>
    
    </div>
  </div>
  <script>
    var dataSet = [
      <%- data %>
    ];
    $(document).ready(function() {
    $('#stock-table').DataTable( {
        data: dataSet.map(x => { x.push('<a href="candlestickchart?code=' + x[0] + '&title=' + x[1] + '" class="btn btn-primary">查看</a>'); return x; }),
        columns: [
            { title: "商品代码" },
            { title: "商品名称" },
            { title: "官方报价" },
            { title: "当前状态" },
            { title: "最近低价" },
            { title: "二手低价" },
            { title: "生产品牌" },
            { title: "详细信息" }
        ]
    } );
} );
  </script>
<% include partials/foot %>